<div class="form-group"><label class="control-label col-sm-2">&#42; Name</label>
    <div class="col-sm-6">
        <input type="text" class="form-control input-sm" required ng-model="model.Name"/>
        <small><span class="help-block m-b-none">Allows only alphanumeric characters and spaces [a-zA-Z0-9 ]</span></small>
    </div>
</div>
<div class="form-group"><label class="control-label col-sm-2">Description</label>
    <div class="col-sm-6">
        <textarea class="form-control input-sm" rows="2" ng-maxlength="2000" ng-model="model.Description" unescape></textarea>
        <small><span class="help-block m-b-none"><span class="text-info">{{ model.Description.length || 2000 }}</span> / 2000 characters left</span></small>
    </div>
</div>
<div class="form-group"><label class="control-label col-sm-2">Star</label>
    <div class="col-sm-6">
    	<input type="text" class="form-control input-sm" required ng-model="model.Star"/>
    </div>
</div>
<div class="form-group"><label class="control-label col-sm-2">Status</label>
    <div class="col-sm-6">
        <select ng-options="item as item.label for item in items track by item.id" ng-model="model.Status" class="form-control"></select>
    </div>
</div>
<div class="form-group"><label class="control-label col-sm-2">Image</label>
    <div class="col-sm-6">
        <input type="file" ngf-select="onFileSelect($files)" multiple>
        <input type="text" class="form-control input-sm" required ng-model="model.Images"/>
        <div id="preview-img" ng-bind-html="images" preview-img></div>
    </div>
</div>


