<h1>Index page</h1>
<button type="button" ng-click="ctrl.change_db()">change_db</button>
<h2>{{book.id}}</h2>
<h2>{{book.name}}</h2>

<div ng-init="ctrl.bootstrap('grid')">
	<h3>content</h3>
    <div class="table-responsive panel-body">
        <table datatable="" dt-columns="dtColumns" dt-options="dtOptions" dt-disable-deep-watchers="true"
        class="table table-condensed table-striped table-bordered table-hover"></table>
    </div>
    <h3>test123</h3>
	<p>{{test123}}</p>
</div>
<div ng-init="ctrl.bootstrap2()">
	<h3>test123</h3>
	<p>{{test123}}</p>
</div>